$dark-blue: #556270;
$lighter-blue: #f8f9fa;
$light-pink: #ec8a8f;
$black: #444444;
$dark-gray: #575757;
$red: #bf302d;
$blue: #515d6a;
$light-blue: #636e79;
$light-gray: #b9bec3;
$darker-blue: #4a5562;
$size-4xl: 48px;
$size-3xl: 40px;
$size-2xl: 28px;
$size-xl: 26px;
$size-l: 22px;
$size-m: 20px;
$size-s: 18px;
$size-xs: 17px;
$size-2xs: 15px;
$size-3xs: 14px;
$size-4xs: 12px;

body {
  box-sizing: border-box;
  margin: 0;
}
  
  /* Navbar Section */
  
.navbar-brand {
  color: $dark-blue;
  font-size: $size-xl;
  font-weight: bold;
  line-height: 2;
  margin-left: 8%;
  text-transform: uppercase;  
}
  
.nav-link {
  color: $dark-blue;
  font-weight: bold;
  margin-left: 14px;
}

.active .nav-link {
  color: red;
}

.btn__get-started {
  margin-left: 20%;
}

/* Carousel Section */

.carousel {
  height: 620px;
  position: relative;
}

.carousel-caption {
  font-weight: bold;
  position: absolute;
  top: 33%;
}

.carousel-caption__title {
  font-size: $size-4xl;
  margin: 0;
}

.carousel-caption__content {
  margin-top: 10px;
  font-size: $size-xs;
}

.carousel-item img {
  height: 620px;
  filter: brightness(50%);   
}

.btn__know-more {
  margin-left: 45%;
}
  
/* About Section */

.about-section {
  height: 365px;
}

.about-heading {
  max-width: 100%;
}

.about-heading__title {
  font-size: $size-3xl;
  font-weight: bold;
  margin-left: 17%;
  margin-top: 41px;
  padding: 0px;
  text-transform: uppercase;
}

.about-heading__text {
  font-size: $size-m;
  margin-left: 17%;
}

.about-content {
  font-size: $size-2xs;  
}

.about-content__text {
  margin-top: 41px;
}

.about-content__list {
  margin: 7px 0 0 0;
}

.icofont-check-alt {
  color: red;
  font-size: $size-m;
}

.about-content__last {
  font-style: italic;
  margin-top: 10px;
}

/* Client Section */
.client-section {
  background-color: $lighter-blue;
  height: 85px;
}

.client-section__icons {
  margin-left: 12%;
  padding: 0;
  width: 88%; 
}

.client-section__img-box {
  display: inline-block;
  line-height: 5;
}
.client-section__img {
  height: 40px;
  width: 90px;
}

/* Service Section */

.service-section {
  height: 600px;
}

.service-section__title {
  color: $dark-blue;
  font-size: $size-3xs;
  margin: 4% 0 0 8%;
  text-transform: uppercase;
  width: 92%;

  span {
  border: 1px solid $light-pink;
  display: inline-block;
  width: 12%;
  }
}

.service-section__heading {
  color: $dark-blue;
  font-size: $size-2xl;
  font-weight: bold;
  margin-left: 8%;
  text-transform: uppercase;
  width: 92%;
}

.service-section__list {
  margin: 2% 0 0 4%;
  width: 96%;
}

.service-section__list-box {
  background-color: $lighter-blue;
  height: 135px;
  margin: 0 0 2% 4%;
  position: relative;
}

.service-section__icons {
  color: red;
  display: inline-block;
  font-size: $size-3xl;
  margin: 20px 0 0 20px;
}

.service-section__caption {
  color: $dark-blue;
  display: inline-block;
  font-size: $size-s;
  font-weight: bold;
  left: 88px;
  position: absolute;
  top: 15px;
}

.service-section__content {
  color: $black;
  font-size: $size-3xs;
  margin-left: 78px;
}

/* Portfolio */

.portfolio-section {
  height: 1150px;
}

.portfolio-section__links {
  padding: 0;
  text-align: center;
}
  
.portfolio-section__link-items {
  display: inline;
  font-size: $size-3xs;
  margin: 0 1%;
  text-transform: uppercase;
  
  a {
  color: $dark-gray;
  font-weight: bold;
  text-decoration: none;
  }
}
    
.portfolio-section__links .active a {
  background-color: $red;
  border-radius: 15%;
  color: white;
  padding: 5px;
}

.portfolio-section__images {
  margin: 1% 5% 0 7%; 
  width: 93%;
}

.portfolio-section__img-one {
  height: 315px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-two {
  height: 450px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-three {
  height: 205px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-four {
  height: 450px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-five {
  height: 205px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-six {
  height: 170px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-seven {
  height: 200px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-eight {
  height: 195px;
  margin-bottom: 8%;
  width: 93%;
}

.portfolio-section__img-nine {
  height: 200px;
  width: 93%;
}

/* Contact Section */

.contact-section {
  background-color: $blue;
  height: 330px;
}

.contact-section__info {
  color: white;
  margin-left: 8%;
}

.contact-section__info-heading {
  font-size: $size-l;
  font-weight: bold;
  margin-top: 55px;
}

.contact-section__info-address {
  font-size: 15px;
  
  span {
  font-weight: bold;
  }
}

.contact-section__info-social {
  background-color: $light-blue;
  border: 1px solid $light-blue;
  border-radius: 20%;
  display: inline-block;
  height: 40px;
  padding: 5px 0 0 10px;
  width: 40px;
}

.contact-section__links-heading {
  color: white;
  font-size: $size-s;
  font-weight: bold;
  margin-top: 55px;
}

.contact-section__links ul {
  padding-left: 5px;   

  li {
    color: $light-gray;
    margin-bottom: 8px;
    list-style: none;
  }
}

.arrow-right {
  border: solid $light-gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.contact-section__newsletter-content {
  color: white;
  font-size: $size-2xs;
}

/* Footer */
footer {
  background-color: $darker-blue;
  height: 90px;
  position: relative;
}

.footer__copyright {
  color: white;
  font-size: $size-2xs;
  text-align: center;
  margin: 25px 0 0 0;
}

.footer__designedBy {
  color: $light-gray;
  font-size: $size-4xs;
  margin-top: 5px;
  text-align: center;
}

.footer__arrow {
  background-color: $red;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: $size-l;
  height: 40px;
  left: 94%;
  position: absolute;
  padding: 1px 0 0 10px;
  top: 40%;
  width: 40px;
} 

/* media queries for RWD */ 

/* For tablets */
@media only screen and (max-width : 800px) { 
  .about-section {
    height: 500px;
  } 
  
  .service-section{
    height: 800px;
  }

  .service-section__list-box { 
    height: 200px;
  }

  .portfolio-section__images {
    margin: 2% 5% 0 1%; 
  }
}

/* For Mobiles */
@media only screen and (max-width : 600px)  { 
  .carousel-item img {
    height: 400px;
  }

  .carousel {
    height: 400px;
  }

  .about-section {
    height: 970px;
  }
      
  .about-heading__title,
  .about-heading__text {
    margin-left: 10%;
  }

  .about-content__text {
    margin-top: 20px;
  }

  .client-section {
    height: 170px;
  }

  .client-section__icons {
    margin-left: 6%;
    width: 94%; 
  }

  .service-section {
    height: 1370px;
  }

  .service-section__list {
    margin: 2% 0 0 7%;
    width: 93%;
  } 

  .service-section__title {
    margin-top: 15%;
  }

  .portfolio-section {
    height: 2770px;
  }

  .portfolio-section__images {
    margin: 2% 5% 0 16%;  
    width: 84%;
  }

  .contact-section {
    height: 770px;
  }

  .footer__arrow {
    left: 88%;
  }  
}

